html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

iframe{
    border: none;
}

.bloc{
    background: white;
    padding: 3%;
}

#fond{
    position: fixed;
    z-index: -3;
    width: 100%;
}

#fond > img {
    width: 100%;
}

#title{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}
